# Dataset Validation Report
**Dataset Location**: `D:\Final year project\Anomaly Detection in Jewellery.v1i.yolov8`

## Configurations in `data.yaml`
- **path**: d:/Final year project/Anomaly Detection in Jewellery.v1i.yolov8
- **train**: train/images
- **val**: valid/images
- **test**: test/images
- **nc**: 1
- **names**: ['missing gem']
- **roboflow**: {'workspace': 'sanjais-workspace-m5pnm', 'project': 'anomaly-detection-in-jewellery-b1zdj', 'version': 1, 'license': 'CC BY 4.0', 'url': 'https://app.roboflow.com/sanjais-workspace-m5pnm/anomaly-detection-in-jewellery-b1zdj/1'}

### Verification of Split: `train`
- **Images folder**: `d:\Final year project\Anomaly Detection in Jewellery.v1i.yolov8\train\images`
- **Labels folder**: `d:\Final year project\Anomaly Detection in Jewellery.v1i.yolov8\train\labels`
- Found **537** images and **537** label files.
- **Validation Summary for Split `train`**:
  - Corrupted Images: `0`
  - Empty Label Files: `1`
  - Duplicate Images: `0`
  - Invalid Bounding Boxes: `0`
  - Class Mismatches: `0`
  - Auto-fixed Bounding Boxes: `0`

### Verification of Split: `val`
- **Images folder**: `d:\Final year project\Anomaly Detection in Jewellery.v1i.yolov8\valid\images`
- **Labels folder**: `d:\Final year project\Anomaly Detection in Jewellery.v1i.yolov8\valid\labels`
- Found **34** images and **34** label files.
- **Validation Summary for Split `val`**:
  - Corrupted Images: `0`
  - Empty Label Files: `0`
  - Duplicate Images: `0`
  - Invalid Bounding Boxes: `0`
  - Class Mismatches: `0`
  - Auto-fixed Bounding Boxes: `0`

### Verification of Split: `test`
- **Images folder**: `d:\Final year project\Anomaly Detection in Jewellery.v1i.yolov8\test\images`
- **Labels folder**: `d:\Final year project\Anomaly Detection in Jewellery.v1i.yolov8\test\labels`
- Found **100** images and **100** label files.
- **Validation Summary for Split `test`**:
  - Corrupted Images: `0`
  - Empty Label Files: `1`
  - Duplicate Images: `0`
  - Invalid Bounding Boxes: `0`
  - Class Mismatches: `0`
  - Auto-fixed Bounding Boxes: `0`
